body{
  background-color: #1c2c54;
  display: flex;
  justify-content: space-between;
}
fieldset{
  border-radius: 10px;
  font-family: Calibri;
  width: 250px;
  margin: 20px;
  justify-content: space-between;
  flex-direction: row;
  color: white;
  background-color: #739ED6;
  border: solid 4px #30444F;
}

fieldset:hover legend{
  border: solid #24478f 4px;
  background-color: #24478f;
  font-size: large;
  font-weight: bold;
}

fieldset:hover{
  border: solid #24478f 4px;
  font-size: large;
  font-weight: bold;
}


.MainContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.ContenentContainer{
}


legend{
  background-color: #30444F;
  border-radius: 4px;
  border: solid 2px #30444F;
}

img{
  display: flex;
  width: 80px;
  height: 80px;
  text-align: center;
}

td:nth-child(1) {
  color: #1c2c54;
  text-align: right;
}

td:nth-child(3) {
  text-align: left;
}

table{
  margin:0 auto;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

tr{
  margin: 100px;
}

tr:nth-child(even){
  background-color: #b3ccff;
}
