<footer class="page-footer font-small blue pt-4" id="footer">

  <!-- Footer Links -->
  <div id="listeLiens" class="container-fluid text-center text-md-left" style="">

    <div>
    <a routerLink="/app/musee/home">Accueil</a>
    </div>
    <div>
      <a routerLink="/app/musee/listeBateaux">La flotte</a>
    </div>
    <div>
      <a routerLink="/app/musee/galerieBateau">Galerie de la flotte</a>
    </div>

    <!--
    <div routerLinkActive="active" >
      <a routerLink="/app/musee/home">Accueil</a>
      <div routerLinkActive="active">
        <a routerLink="/app/musee/listeBateaux">Liste des bateaux</a>
      </div>
      <div routerLinkActive="active">
        <a routerLink="/app/musee/galerieBateau">Galerie de photos</a>
      </div>
    </div>
    -->
  </div>
  <!-- Footer Links -->


</footer>
<!-- Footer -->
