
<!-- Mettre la navbar ici -->


<router-outlet></router-outlet>

<!-- Mettre le footer ici -->

<app-home></app-home>

<!-- Toolbar -->

<div class="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/app/musee/home"><img src="favicon.ico" style="width: 60%"></a>
      </div>
      <div><app-map></app-map></div>
    </div>
  </nav>
</div>


<div class="content" style="margin-bottom: 100px;position: relative;">

  <router-outlet></router-outlet>
</div>


<div class="footer" style="background-color: white;position: absolute; bottom: 0; width: 100%">
  <app-menu-bas></app-menu-bas>
</div>

<div class="footer" style="background-color: white;position: absolute; bottom: 0; width: 100%">
  <app-menu-bas></app-menu-bas>
</div>

